@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
header{z-index: 100; position: relative;}

body{
background-image: url(/img/Opera\ Instantánea_2024-10-24_141508_marvelapp.com.png); background-size:219vh; z-index: 0; 
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color: rgba(175, 175, 238, 0.507);
background-blend-mode: overlay; 
position: relative;
overflow: hidden;
font-family: Sorce Sans-3;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/galeria/Opera\ Instantánea_2024-10-24_141508_marvelapp.com.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    transform: rotate(178deg); /* Rota la imagen a 15 grados */
    transform-origin: center;
    z-index: -1; /* Envía el fondo detrás del contenido */
    
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(175, 238, 238, 0.3); 
    z-index: -1;
  }

.nav-pill{
    font-family: Sorce Sans-3;
    margin-top: auto;
    padding-bottom: 0px;
    
}
header{
    background-color: #fff; width: auto ; margin-right: -8px; margin-left: -10px; margin-top: -7px; margin-bottom: auto;    
}
.azul{
    background-color: #483D8B; margin-left:-10px; margin-right: 150vh; margin-top: 0px; height: 590px; position: relative; z-index: 1;
}
.morado{
    background-color: #87CEEB; width:90%; position: relative; z-index: 2; margin-left: 20px; margin-top: -30px; height: 570px ;
}
.verdil{
    background-color: #008080; width:82%; position: relative; z-index: 6; margin-left: 33px; margin-top: -580px; height: 550px ;
}
.mapa{
font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: italic;
        font-size: 30px;
}
.dropdown-menu{
    background-color: #fff;
    
}
.nav-link-menu{
    
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
      
}

.psj{
    margin-left: 200px;
}

#map {
   
    margin-left: 520px; 
    margin-top: -600px;
    position: absolute; 
}
.dropdown-button {
    
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    padding-right: 50px;
  }
  
  .fill{
    background-color: #d9d9d9; padding-top: 13px; padding-bottom: 8px; padding-right: 15px;
    color: #000;
    text-decoration-color:#fff ;
    text-decoration-line: none;
  }
  
  .sobren{
    color: #000;
    text-decoration-color:#fff ;
  }
  i.fas.fa-chevron-down::before{
    background-color: #d9d9d9; padding-top: 13px; padding-bottom: 9px;
    
  }
  .nav-link-menu{
    color: #000;
    text-decoration-color:#fff ;
  }
  .tabla{
    position: absolute; z-index: 99;
    margin-top: -580px;
    margin-right: 1px;
    border-collapse:separate;
    max-height: 280px;
    overflow-y:scroll;
    max-width: 350px;
    overflow-x: scroll;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  
thead {
    background-color: #007bff;
    color: #ffffff;
}
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px dotted #ddd;
}
tr:hover {
    background-color: #f1f1f1;
}
.verde {
    background-color: #a2d5a8;
}
.amarillo {
    background-color: #f7f3a4;
}
.rojo {
    background-color: #f2a7a7;
}

.recommendation-table {
  border: 2px dashed #000;
  border-radius: 15px;
  background-color: #98FF98;
  padding: 10px;
  width: 270px;
  position: relative;z-index: 97;
  margin-top: -300px;
  margin-left: 321px;
}

.recommendation-row {
  display:flex;
  align-items: center;

}

.circle {
  width: 27px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px
}

.green {
  background-color: #4CAF50;
}

.yellow {
  background-color: #FFEB3B;
}

.red {
  background-color: #F44336;
}

.recommendation-table p {
  font-size: 14px;
  margin: 0;
}

.logo{
  position: relative; z-index: 98;
  margin-top: -170px;
  clip-path: circle(40%);
  width:30%;
  margin-left: -40px;
}

.mvista{
  background-color: #98FF98; border-top-right-radius: 5px; border-top-left-radius: 5px;
}
.dropdown-ite{
  background-color: #008080; margin-top: -8px; border-top-right-radius: 5px; border-top-left-radius: 5px;
  
}
.btn-radio {
  position: relative;
  right: -20px;
}
