@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@keyframes change_color{
    to{
        background: purple;
    }
}
@media only screen and (min-width:1200px) {
    
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    
}
.body{
    background-image: url(/img/fondo.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(img/9975253.eps);
    z-index: 1;
}
.titulo{
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 20%;
    background-color: #AFEEEE;
    margin-left: 40%;
    height: 98px;
    align-content: center;
    
    
        font-family: "Berkshire Swash", serif;
        font-weight: 400;
        font-style: normal;  
}
.barraLateralIzquierda{
    background-color: #483D8B;
    z-index: 2;
    width: 14px;
    height: 480px;
    margin-top: -543px;
    
}
.barraLateralDerecha{
    background-color: #483D8B;
    z-index: 5;
    width: 14px;
    height: 478px;
    margin-top: -480px;
    margin-left: 1308px;
    padding: auto;
    
}
.top{
    
    height: 60px;
    width: 100%;
    background-color: #008B8B;
    opacity: 100%;
}
.botones{
    background-color: #008080; 
    border: #008080; 
    border-radius: 20px; 
    margin-left: 30px; 
    margin-top: 2px;
}
.Bienvenido{
    background-color: #20B2AA;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    max-width: 20%;
    
    margin-left: 40%;
    align-self: center;

        font-family: "Berkshire Swash", serif;
        font-weight: 400;
        font-style: normal;
}   
.top2{
   height: 5px;
    width: 100%;
    background-color: #483D8B;
}
.usuario{
    text-align: 100%;
    margin-left: 38%;
    margin-top: 30px;
    color: black;
    
}
.contraseña{
    text-align: center;
    margin-right: 100px;
    margin-top: 30px;
    color: black;
    align-content: center;
}
.bottom{
    height: 5px;
     width: 100%;
     background-color: #483D8B;
     margin-top: 20px;
     padding: auto;
 }
.bottom2{
    height: 60px;
    width: 100%;
    background-color: #008B8B; 
}
.entrar{
    background-color: #AFEEEE;
    height: 40px;
    border-radius: 20px;
    width: 15%;
    margin-left: 575px;
    text-align: center;
    margin-top: 20px;
    color: #526C6C;
    border: #AFEEEE;
    
}


.registrar{
    background-color: #98FF98;
    height: 40px;
    border-radius: 20px;
    width: 15%;
    margin-left: 80%;
    text-align: center;
    margin-top: 70px;
    color: #4B5C6F;
    border: #98FF98;
    
}