body{
    margin: 0;
    padding: 0;
    background-image: url(img/Diseño\ sin\ título\ \(2\).png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: #fff;
}
.nav-link:hover{
    color: #87CEEB !important;
}
.cauousel-active.item{
    width: 300cm;
    
}
.ubi{
    margin-top: -144px;
    color: black;
}